<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>pacotes.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginADM</servlet-name>
        <servlet-class>pacotes.ServletLoginADM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>pacotes.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFuncionario</servlet-name>
        <servlet-class>pacotes.ServletFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMovimentacao</servlet-name>
        <servlet-class>pacotes.ServletMovimentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRelatorios</servlet-name>
        <servlet-class>pacotes.ServletRelatorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCaixa</servlet-name>
        <servlet-class>pacotes.ServletCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdministrativo</servlet-name>
        <servlet-class>pacotes.ServletExcluirMovimentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirCliente</servlet-name>
        <servlet-class>pacotes.ServletExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirMovimentacao</servlet-name>
        <servlet-class>pacotes.ServletExcluirMovimentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExcluirFuncionario</servlet-name>
        <servlet-class>pacotes.ServletExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProdutos</servlet-name>
        <servlet-class>pacotes.ServletProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteracaoCliente</servlet-name>
        <servlet-class>pacotes.ServletAlteracaoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteracaoProduto</servlet-name>
        <servlet-class>pacotes.ServletAlteracaoProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteracaoFuncionario</servlet-name>
        <servlet-class>pacotes.ServletAlteracaoFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteracaoUsuario</servlet-name>
        <servlet-class>pacotes.ServletAlteracaoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAbrirCaixa</servlet-name>
        <servlet-class>pacotes.ServletAbrirCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlteracaoMovimentacao</servlet-name>
        <servlet-class>pacotes.ServletAlteracaoMovimentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFecharCaixa</servlet-name>
        <servlet-class>pacotes.ServletFecharCaixa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ServletAbrirCaixa</servlet-name>
        <url-pattern>/ServletAbrirCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFecharCaixa</servlet-name>
        <url-pattern>/ServletFecharCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFuncionario</servlet-name>
        <url-pattern>/ServletFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMovimentacao</servlet-name>
        <url-pattern>/ServletMovimentacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRelatorios</servlet-name>
        <url-pattern>/ServletRelatorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCaixa</servlet-name>
        <url-pattern>/ServletCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdministrativo</servlet-name>
        <url-pattern>/ServletAdministrativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirCliente</servlet-name>
        <url-pattern>/ServletExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirMovimentacao</servlet-name>
        <url-pattern>/ServletExcluirMovimentacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExcluirFuncionario</servlet-name>
        <url-pattern>/ServletExcluirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProdutos</servlet-name>
        <url-pattern>/ServletProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteracaoCliente</servlet-name>
        <url-pattern>/ServletAlteracaoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteracaoProduto</servlet-name>
        <url-pattern>/ServletAlteracaoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteracaoFuncionario</servlet-name>
        <url-pattern>/ServletAlteracaoFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteracaoUsuario</servlet-name>
        <url-pattern>/ServletAlteracaoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlteracaoMovimentacao</servlet-name>
        <url-pattern>/ServletAlteracaoMovimentacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginADM</servlet-name>
        <url-pattern>/ServletLoginADM</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
